:root {
    --main-text-color: white;
    --secondary-text-color: #7D7F84;
    --nav-menu-width: 230px;
    --footer-height: 90px;
    --upgrade-bar-height: 90px;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/********** GENERAL */

body {
    font-family: 'Montserrat', sans-serif;
}

/********** APP-CONTENT GRID */



/*********** MAIN */

#main-container {
    height: calc(100vh - var(--footer-height));
    background-color: #141922;
    display: flex;
}

#nav-left-menu {
    min-width: var(--nav-menu-width);
    height: 100%;
    background-color: black;
}

#upgrade-bar {
    min-width: calc(100% - 230px);
    height: var(--upgrade-bar-height);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: var(--nav-menu-width);
}

#app-content {
    height: calc(100vh - 90px);
    width: 100%;
    overflow: auto;
    color: white;
    padding-top: var(--upgrade-bar-height);
}



/*********** FOOTER */

#footer {
    height: var(--footer-height);
    background-color: #282828;
}
