:root {
    --main-text-color: #dbdbdb;
    --secondary-text-color: #7c7e84;

    --nav-menu-width: 230px;
    --footer-height: 90px;
    --upgrade-bar-height: 90px;
    --padding-nav-left-menu: 10px;
    --subtitle-font-size: 0.8rem;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

/********** GENERAL */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

svg {
    width: 30px;
    height: 25px;
    color: currentColor;
}

h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

/****** HOVER */

button:hover {
    cursor: pointer;
}

/********** APP-CONTENT GRID */

.grid-container {
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.col {
    width: calc(100% / 6);
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;

    /*# debug */
    background-color: orange;
}

/*********** MAIN */

#main-container {
    height: calc(100vh - var(--footer-height));
    background-color: #141922;
    display: flex;
}

/* nav left menu */

#nav-left-menu {
    max-width: var(--nav-menu-width);
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: var(--subtitle-font-size);
}

#nav-left-menu img {
    width: 70%;
    padding: var(--padding-nav-left-menu);
    margin-bottom: 10px;
}

#nav-left-menu .menu-container {
    padding: var(--padding-nav-left-menu);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}

#nav-left-menu .menu-container i {
    min-width: 30px;
}

#nav-left-menu .home-container {
    padding: var(--padding-nav-left-menu);
    color: var(--main-text-color);
    border-left: 3px solid #ADFF2F;
}

#nav-left-menu .playlist-nav-title {
    color: var(--main-text-color);
}

#nav-left-menu .playlist-container button {
    height: 30px;
    border: none;
    background-color: rgb(178, 178, 178);
    margin-right: 5px;
}

#nav-left-menu .playlist-name-container {
    height: 100%;
}

#nav-left-menu .install-app-container {
    color: var(--secondary-text-color);
    min-width: 210px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid var(--secondary-text-color);
}
#nav-left-menu .install-app-container svg {
    width: 20px;
    margin-right: 10px;
}

#nav-left-menu #grey-circle-profile {
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}

/* upgrade bar */

#upgrade-bar {
    min-width: calc(100% - var(--nav-menu-width));
    height: var(--upgrade-bar-height);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: var(--nav-menu-width);
    text-align: right;
    line-height: var(--upgrade-bar-height);
    padding-right: 10px;
}

#upgrade-bar .upgrade-button {
    color: var(--main-text-color);
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    padding: 7px 25px;
}

/* app content */

#app-content {
    height: calc(100vh - var(--upgrade-bar-height));
    width: 100%;
    padding: 15px;
    overflow: auto;
    color: white;
    padding-top: var(--upgrade-bar-height);
}

#app-content .nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: var(--subtitle-font-size);
    color: var(--secondary-text-color);
}

#app-content .nav-bar li {
    margin-right: 20px;
}

#app-content .nav-bar li:first-child {
    position: relative;
}

#app-content .nav-bar li:first-child::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 25%;
    width: 50%;
    border-top: 3px solid #ADFF2F;
}

/*********** FOOTER */

#footer {
    height: var(--footer-height);
    background-color: #282828;
}

/*********** MEDIA QUERY */

